@font-face {
    font-family: 'QuicksandLight';
    src: url('../fonts/Quicksand_Light-webfont.eot');
    src: url('../fonts/Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quicksand_Light-webfont.woff') format('woff'),
         url('../fonts/Quicksand_Light-webfont.ttf') format('truetype'),
         url('../fonts/Quicksand_Light-webfont.svg#QuicksandLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandLightOblique';
    src: url('../fonts/Quicksand_Light_Oblique-webfont.eot');
    src: url('../fonts/Quicksand_Light_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quicksand_Light_Oblique-webfont.woff') format('woff'),
         url('../fonts/Quicksand_Light_Oblique-webfont.ttf') format('truetype'),
         url('../fonts/Quicksand_Light_Oblique-webfont.svg#QuicksandLightOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBook';
    src: url('../fonts/Quicksand_Book-webfont.eot');
    src: url('../fonts/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quicksand_Book-webfont.woff') format('woff'),
         url('../fonts/Quicksand_Book-webfont.ttf') format('truetype'),
         url('../fonts/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBookOblique';
    src: url('../fonts/Quicksand_Book_Oblique-webfont.eot');
    src: url('../fonts/Quicksand_Book_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quicksand_Book_Oblique-webfont.woff') format('woff'),
         url('../fonts/Quicksand_Book_Oblique-webfont.ttf') format('truetype'),
         url('../fonts/Quicksand_Book_Oblique-webfont.svg#QuicksandBookOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBold';
    src: url('../fonts/Quicksand_Bold-webfont.eot');
    src: url('../fonts/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quicksand_Bold-webfont.woff') format('woff'),
         url('../fonts/Quicksand_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBoldOblique';
    src: url('../fonts/Quicksand_Bold_Oblique-webfont.eot');
    src: url('../fonts/Quicksand_Bold_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quicksand_Bold_Oblique-webfont.woff') format('woff'),
         url('../fonts/Quicksand_Bold_Oblique-webfont.ttf') format('truetype'),
         url('../fonts/Quicksand_Bold_Oblique-webfont.svg#QuicksandBoldOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandDash';
    src: url('../fonts/Quicksand_Dash-webfont.eot');
    src: url('../fonts/Quicksand_Dash-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quicksand_Dash-webfont.woff') format('woff'),
         url('../fonts/Quicksand_Dash-webfont.ttf') format('truetype'),
         url('../fonts/Quicksand_Dash-webfont.svg#QuicksandDash') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
  padding: 0;
  margin: 0;
  width: 100%;
  font: 18px/1.5 "QuicksandLight";
  color: #333;
}

a {
  color: #0af;
  text-decoration: none;
  transition: color .25s ease;
}

a:hover {
  color: #fa0;
}

.tech-term {
  font: 18px 'Courier New';
}

.files {
  background: #333;
  color: #fff;
  padding: 0 2px;
  display: inline-block;
  border-radius: 2px;
}

.global-header {
  text-align: center;
  border-bottom: 15px solid #333;
  padding: 0 0 20px;
}

h1 {
  padding: 0;
  margin: 0;
  font: normal 48px/1.5 'Courier New';
}

h2 {
  font: 36px/1.5 'QuicksandBook';
}

h3 {
  font: 36px/1.5 'QuicksandBook';
  margin: 20px 0 0;
}

.logo {
  color: #0af;
  font-family: 'Courier New';
}

.tag {
  margin: 0 0 0 40px;
}

.storyjs-embed .start {
  margin: 20px 0 0;
}

.storyjs-embed .start + p {
  margin: 0 0 0 20px;
}

.storyjs-embed .date {
  font: 16px/1.5 'QuicksandLight';
  color: #999;
  margin: 0;
}

.storyjs-embed .slide-tag {
  background: #dedede;
  padding: 2px 2px 0;
  border-radius: 2px;
  color: #fff;
  margin: 0 10px;
}

.storyjs-embed h3 + p {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
  text-indent: -20px;
}

.storyjs-embed .flag-content h3 {
  font: 12px/1.5 'QuicksandLight';
}