# Logs
*.log

# Lint Configs
autolint.js

# OS Specific
.DS_Store*

# User credentials - remember that admin.hash should remain part of the repo, but the password should be changed.
*.hash
!admin.hash
