<!DOCTYPE html>
<html>
  {{> head}}
  <body class="category">
    {{> global-header}}
    
    <section id="{{type}}" class="{{type}} content">
      {{#attributes.snippets.models}}
        <article id="{{{attributes.uuid}}}" class="snippet">
          <h3 class="headline">{{{attributes.headline}}}</h3>
          <div class="text">
            <p>{{{attributes.text}}}</p>
          </div>
          <footer>
            {{#attributes.author}}
              By {{attributes.author}}
            {{/attributes.author}}
            
            {{#attributes.prettyStartDate}}
              on {{attributes.prettyStartDate}}
            {{/attributes.prettyStartDate}}
            
            {{#attributes.prettyStartTime}} 
              at {{attributes.prettyStartTime}}
            {{/attributes.prettyStartTime}}
          </footer>
        </article>
      {{/attributes.snippets.models}}
    </section>
    
    {{> global-footer}}
    
    {{> global-scripts}}
  </body>
</html>