<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<![endif]-->
		<meta charset="UTF-8" >
		<meta name="viewport" content="width=device-width" >
		<title>skylerbrungardt.com</title>
		<meta name="description" content="Skyler Brungardt's Website.">
		<meta name="author" content="Skyler Brungardt">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="/client/images/favicon.ico">
		<link rel="stylesheet" href="/client/css/skylerbrungardt.com.css">
			
		<script src="/client/js/lib/modernizr-1.7.min.js"></script>
		<!--Newline scripts-->
		<script src="/client/js/newline.js"></script>
		<script src="/client/js/controls/remove-element.js"></script>
		<script src="/client/js/controls/create-login-form.js"></script>
		<script src="/client/js/controls/close-this.js"></script>
		<script src="/client/js/controls/check-for-content.js"></script>
		<script src="/client/js/controls/save-this.js"></script>
		<script src="/client/js/controls/submit-login.js"></script>
		<script src="/client/js/controls/get-creds.js"></script>
		<script src="/client/js/controls/login.js"></script>
		<script src="/client/js/controls/get-input-type.js"></script>
		<script src="/client/js/controls/check-for-empty.js"></script>
		<script src="/client/js/controls/error-check.js"></script>
		<script src="/client/js/controls/create-add-content-button.js"></script>
		<script src="/client/js/controls/create-edit-content-button.js"></script>
		<script src="/client/js/controls/logout.js"></script>
		<script src="/client/js/controls/create-post-form.js"></script>
		<script src="/client/js/controls/check-state.js"></script>
		<script src="/client/js/controls/get-content.js"></script>
		<script src="/client/js/controls/build-content.js"></script>
		<script src="/client/js/controls/edit-this.js"></script>
		<script src="/client/js/controls/update-this.js"></script>
		<!--Encryption scripts-->
		<script src="/shared/js/lib/sjcl.js"></script>
		
		<!--Custom scripts-->
		<script src="/client/js/controls/on-nav.js"></script>
	</head>
	<body class="mainIndex">
		<div id="container">
			<header id="header">
				<h1>
					<a href="/">
						<span id="s">S</span>
						<span id="k">k</span>
						<span id="y">y</span>
						<span id="l">l</span>
						<span id="e">e</span>
						<span id="r1">r</span>
						<span id="b" class="h1-shadow">B</span>
						<span id="r2" class="h1-shadow">r</span>
						<span id="u" class="h1-shadow">u</span>
						<span id="n" class="h1-shadow">n</span>
						<span id="g" class="h1-shadow">g</span>
						<span id="a" class="h1-shadow">a</span>
						<span id="r3" class="h1-shadow">r</span>
						<span id="d" class="h1-shadow">d</span>
						<span id="t" class="h1-shadow">t</span>
					</a>
				</h1>	
				<h2>Wacky, wicked, wild. It's the www, baby.</h2>
				<nav id="main-nav">
					<ul>
						<li>
							<a id="who-link" class="animate-color" href="#who">
								Who he iz
							</a>
							<div class="description animate-opacity">
								Learn more about this crazy cat.
							</div>
						</li>
						<li>
							<a id="what-link" class="animate-color" href="#what">
								What he duz
							</a>
							<div class="description animate-opacity">
								It's all about what I do, isn't it?
							</div>
						</li>
						<li>
							<a id="social-link" class="animate-color" href="#social">
								Social media plz
							</a>
							<div class="description animate-opacity">
								You know what this is all about.
							</div>
						</li>
					</ul>
			
					<div class="description starter animate-opacity">
						Pick one.
					</div>
				</nav>
			</header>
			<div id="toon" class="toon">
				<div class="head">
					<div class="hair"></div>
					<div class="face"></div>
					<div class="sideburn"></div>
				</div>
				<div class="neck"></div>
				<div class="toon-body">
					<div class="shirt-main"></div>
					<div class="shirt-small"></div>
					<div class="right-lapel"></div>
					<div class="left-lapel"></div>
					<div class="zipper"></div>
				</div>
				<div class="right-arm">
					<div class="right-shoulder"></div>
					<div class="right-bicep1"></div>
					<div class="right-bicep2"></div>
					<div class="right-forearm1"></div>
					<div class="right-forearm2"></div>
					<div class="right-hand"></div>
				</div>
				<div class="left-arm">
					<div class="left-shoulder"></div>
					<div class="left-bicep1"></div>
					<div class="left-bicep2"></div>
					<div class="left-forearm1"></div>
					<div class="left-forearm2"></div>
					<div class="left-hand"></div>
				</div>
				<div class="belt">
					<div class="buckle"></div>
				</div>
				<div class="right-leg">
					<div class="right-thigh1"></div>
					<div class="right-thigh2"></div>
					<div class="right-knee"></div>
					<div class="right-calf1"></div>
					<div class="right-calf2"></div>
					<div class="right-boot-top"></div>
					<div class="right-heel"></div>
					<div class="right-toe"></div>	
				</div>
				<div class="left-leg">
					<div class="left-thigh1"></div>
					<div class="left-thigh2"></div>
					<div class="left-knee"></div>
					<div class="left-calf1"></div>
					<div class="left-calf2"></div>
					<div class="left-boot-top"></div>
					<div class="left-heel"></div>
					<div class="left-toe"></div>	
				</div>
				<div class="shadow"></div>
			</div>
			
			<div id="content">
				<section id="blog" class="main text-body content editable addable count-5">
				</section>
				
				<section id="who" class="main text-body content editable count-1">
				</section>
				
				<section id="what" class="main text-body content editable count-1">
				</section>
				
				<section id="social" class="main text-body content editable count-1">
				</section>
			</div>
			<!--end content-->
			<footer id="footer">
				<section class="support details">
					Best viewed in
					<a class="animate-color" title="" href="http://browsehappy.com/"
						 target="_blank">Modern</a>
					<a class="animate-color" href="http://en.wikipedia.org/wiki/Comparison_of_web_browsers#HTML5_support"
						 target="_blank">Browsers</a>, especially the latest version of
					<a class="animate-color" href="http://www.google.com/chrome" target="_blank">Chrome</a> or
          <a class="animate-color" href="http://www.mozilla.org/en-US/firefox/new/"
						 target="_blank">Firefox</a>.
					Powered by
					<a class="animate-color" href="http://nodejs.org/"
						 target="_blank">Node.js</a>
					and
					<a class="animate-color"
						 href="https://github.com/StrictlySkyler/newline" target="_blank">
						\newline</a>.
				</section>
				<section class="license details">
					Copyleft <a class="animate-color" href="/">Skyler Brungardt</a>.  No Rights
					Reserved. Enjoy.
				</section>
				<section class="login details animate-opacity">
					<hr>
					Click here to 
					<a id="login-link" class="animate-color" href="/login">login</a>.
				</section>
			</footer>	
	
		</div>
		<!--End of Container-->
		
	</body>
</html>
