
/*
TODO:  Add header, and style index.
 */

/**********
  Fonts
 **********/
@font-face {
    font-family: 'QuicksandLight';
    src: url('../fonts/Quicksand_Light-webfont.eot');
    src: url('../fonts/Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quicksand_Light-webfont.woff') format('woff'),
         url('../fonts/Quicksand_Light-webfont.ttf') format('truetype'),
         url('../fonts/Quicksand_Light-webfont.svg#QuicksandLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandLightOblique';
    src: url('../fonts/Quicksand_Light_Oblique-webfont.eot');
    src: url('../fonts/Quicksand_Light_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quicksand_Light_Oblique-webfont.woff') format('woff'),
         url('../fonts/Quicksand_Light_Oblique-webfont.ttf') format('truetype'),
         url('../fonts/Quicksand_Light_Oblique-webfont.svg#QuicksandLightOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBook';
    src: url('../fonts/Quicksand_Book-webfont.eot');
    src: url('../fonts/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quicksand_Book-webfont.woff') format('woff'),
         url('../fonts/Quicksand_Book-webfont.ttf') format('truetype'),
         url('../fonts/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBookOblique';
    src: url('../fonts/Quicksand_Book_Oblique-webfont.eot');
    src: url('../fonts/Quicksand_Book_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quicksand_Book_Oblique-webfont.woff') format('woff'),
         url('../fonts/Quicksand_Book_Oblique-webfont.ttf') format('truetype'),
         url('../fonts/Quicksand_Book_Oblique-webfont.svg#QuicksandBookOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBold';
    src: url('../fonts/Quicksand_Bold-webfont.eot');
    src: url('../fonts/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quicksand_Bold-webfont.woff') format('woff'),
         url('../fonts/Quicksand_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBoldOblique';
    src: url('../fonts/Quicksand_Bold_Oblique-webfont.eot');
    src: url('../fonts/Quicksand_Bold_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quicksand_Bold_Oblique-webfont.woff') format('woff'),
         url('../fonts/Quicksand_Bold_Oblique-webfont.ttf') format('truetype'),
         url('../fonts/Quicksand_Bold_Oblique-webfont.svg#QuicksandBoldOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandDash';
    src: url('../fonts/Quicksand_Dash-webfont.eot');
    src: url('../fonts/Quicksand_Dash-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quicksand_Dash-webfont.woff') format('woff'),
         url('../fonts/Quicksand_Dash-webfont.ttf') format('truetype'),
         url('../fonts/Quicksand_Dash-webfont.svg#QuicksandDash') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontawesome-webfont.woff') format('woff'),
         url('../fonts/fontawesome-webfont.ttf') format('truetype'),
         url('../fonts/fontawesome-webfont.svg#QuicksandDash') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FoundiconsGeneral';
    src: url('../fonts/general_foundicons.eot');
    src: url('../fonts/general_foundicons.eot?#iefix') format('embedded-opentype'),
         url('../fonts/general_foundicons.woff') format('woff'),
         url('../fonts/general_foundicons.ttf') format('truetype'),
         url('../fonts/general_foundicons.svg#QuicksandDash') format('svg');
    font-weight: normal;
    font-style: normal;

}

/**********
  General Purpose Styles
 **********/

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.15);
}

*:active {
  outline: none;
  box-shadow: none;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 320px;
  font: 18px/1.5 "QuicksandBook";
  color: #333;
}

a {
  color: #0af;
  text-decoration: none;
  transition: color .25s ease;
}

a:hover {
  color: #ff8d00;
}

input {
  border: none;
  height: 25px;
  width: 125px;
  font: 14px/1.5 "QuicksandBook";
  padding: 0 5px;
  transition: all 0.25s ease;
}

.tech-term {
  font: 14px 'Courier New';
}

.files {
  font: 14px 'Courier New';
  background: #333;
  color: #0f0;
  padding: 0 5px;
  display: inline-block;
  text-indent: 0;
}

.login {
  min-height: 50px;
  width: 100%;
  background: #0af;
  color: #fff;
  margin: 0;
  padding: 5px 0;
  font: 16px/2 'QuicksandLight';
  transition: all 0.25s ease;
}

.login.invalid input {
  box-shadow: 0 0 0 2px #f00;
}

.error-message {
  position: absolute;
  padding: 10px 50px;
  margin: 0;
  font: 14px/1.5 'QuicksandBook';
  background: #333;
  transition: all 0.25s ease;
  z-index: 999;
}

.error-message em {
  font-style: normal;
  color: #ff8d00;
}

/*
  Utility class for animating elements in with CSS.  Define the animation transitons on the other CSS rules, and define how they should be hidden 
  (and thus revealed) here.
 */
#nooline .hidden {
  overflow: hidden;
  height: 0;
  border-width: 0;
  opacity: 0;
}

.global-header {
  text-align: center;
}

.button {
  cursor: pointer;
}

.meta {
  margin: -10px 0 0;
}

.meta ul {
  list-style-type: none;
  margin: 0;
  padding: 0 5px;
  text-align: right;
}

.meta .nav-item {
  display: inline-block;
  margin: 0 10px;
}

.meta .button {
  background: none;
  border: 0 solid transparent;
  color: #0af;
  cursor: pointer;
  font: 16px/1 'QuicksandLight';
  margin: 0;
  padding: 0;
  transition: all 0.25s ease;
  z-index: 99999;
  position: absolute;
}

.meta .button:hover,
.meta .button.active {
  color: #ff8d00;
}

.meta .contact-button:before  {
  content: '\f0e0';
  font: 94px/1 'FontAwesome';
  position: absolute;
  color: transparent;
  left: -5px;
  top: -125px;
  transition: all 0.25s ease;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);
}

.meta .contact-button:hover:before {
  left: -15px;
  color: #ddd;
  z-index: -1;
  top: -5px;
  -webkit-transform: rotate(110deg);
  -moz-transform: rotate(110deg);
  transform: rotate(110deg);
}

.meta .contact-button {
  -webkit-transform: rotateZ(-90deg);
  -moz-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  margin: 0;
  left: -15px;
  top: 50px;
}

.meta .login-button,
.meta .logout-button {
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
  margin: 0;
  right: -10px;
  position: absolute;
  top: 50px;
}

.meta .login-button:after {
  display: none;
}

.meta .logout-button:before,
.meta .login-button:before  {
  content: '\f023';
  position: absolute;
  color: transparent;
  right: 0px;
  top: -125px;
  transition: all 0.25s ease;
  font: normal 116px/1 'FontAwesome';
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.meta .logout-button:hover:before,
.meta .logout-button.active:before,
.meta .login-button:hover:before,
.meta .login-button.active:before {
  color: #ddd;
  z-index: -1;
  right: -15px;
  top: -25px;
  -webkit-transform: rotate(-110deg);
  -moz-transform: rotate(-110deg);
  transform: rotate(-110deg);
}

.meta button:after {
  content: '';
  position: absolute;
  border-top: 0 solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 0 solid #0af;
  border-left: 15px solid transparent;
  width: 0;
  height: 0;
  left: 0;
  bottom: 0;
  z-index: 99999;
  transition: all 0.25s ease;
}

.meta .active:after {
  border-width: 15px;
  border-top-width: 0;
  bottom: -15px;
  transition: border-width 0.25s ease 0.25s;
}

.login label {
  margin: 0 5px 0 0;
  width: 100px;
  display: inline-block;
  text-align: right;
}

.login input {
  margin: 0 10px 0;
}

.login .button {
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  color: rgba(255,255,255,0.25);
  padding: 0;
  transition: color 0.25s ease;
  font: 14px/1 'QuicksandBook';
  text-indent: -99999px;
  position: absolute;
}

.login .button:before {
  color: #0077b2;
  text-indent: 0;
  transition: color 0.25s ease;
}

.login .button:hover,
.login .button:hover:before {
  color: #fff;
}

.login .button:active,
.login .button:active:before {
  color: #ff8d00;
}

.login .close-section-button {
  right: 5px;
  top: 5px;
  margin: 0;
  text-indent: -99999px;
}

.login .go-button {
  margin: 0;
  padding: 0;
  right: 5px;
}

.login .create-account-button {
  left: 10px;
  margin: 0;
  padding: 0;
}

.create-account-button:before {
  content: '\f084';
  position: absolute;
  left: 0;
  top: 0;
  font: 32px/1 'FontAwesome';
}

.close-section-button:before {
  content: '\f006';
  text-indent: 0;
  position: absolute;
  left: 0;
  top: 0;
  font: 32px/1 'FoundiconsGeneral'
}

.go-button:before {
  content: '\f014';
  position: absolute;
  left: 0;
  top: 0;
  font: 32px/1 'FoundiconsGeneral';
}

.global-footer {
  border-top: 15px solid #0af;
  background: #333;
  color: #fff;
  text-align: center;
  font: 12px/1.5 'QuicksandLight';
  padding: 0 0 5px;
  margin: -20px 0 0;
}

section {
  border-top: 15px solid #333;
}

header, section {
  position: relative;
}

h1 {
  padding: 0;
  margin: 0;
  font: normal 48px/1.5 'Courier New';
}

h2 {
  font: 24px/1 'QuicksandBook';
}

h3 {
  font: 24px/1 'QuicksandBook';
  margin: 20px 0 0;
}

h4 {
  font: normal 18px/1.5 'QuicksandBold';
  margin: 20px 0 0;
}

.logo {
  color: #0af;
  font-family: 'Courier New';
}

.tag {
  margin: 0;
}

.peace {
  font-size: 32px;
  position: absolute;
  margin: -10px 0 0 5px;
  -webkit-transform: rotateZ(10deg);
  -moz-transform: rotateZ(10deg);
  transform: rotateZ(10deg);
}

/**********
  Controls
 **********/

.control {
  margin: 0 5px;
  height: 100%;
  border: none;
  background: #333;
  font: 14px/1.5 'QuicksandBook';
  color: #fff;
  transition: all 0.25s ease;
  padding: 0 10px;
  right: 0;
  z-index: 999;
}

.control:focus {
  box-shadow: 0 0 0 2px rgba(0,170,255,0.5);
}

header:hover .control,
section:hover .control {
  box-shadow: 0 0 0 2px rgba(0,170,255,0.15);
}

header:hover .control:hover,
section:hover .control:hover {
  color: #0af;
}

header .control:active,
section .control:active {
  box-shadow: 0 0 0 5px #333;
}

.controls {
  width: 100%;
  height: 35px;
  transition: all 0.25s ease;
  padding: 0;
  text-align: center;
}

section .controls {
  position: absolute;
  z-index: 999;
}

.control.content-snippet {
  position: absolute;
  height: 35px;
  width: 50px;
  text-indent: -99999px;
  left: 50%;
  top: 0;
  margin: 0 0 0 -150px;
}

.control.content-snippet:before {
  text-indent: 0;
  position: absolute;
  left: 0;
  text-align: center;
  width: 100%;
}

.edit-content-button:before {
  content: '\f01a';
  font: 24px/0.5 'FoundiconsGeneral';
}

.commit-changes-button:before {
  content: '\f005';
  font: 24px/0.5 'FoundiconsGeneral';
}

.control.content-snippet.cancel-editing-button {
  left: 100%;
  margin: 0 0 0 -50px;
}

.cancel-editing-button:before {
  content: '\f006';
  font: 24px/0.5 'FoundiconsGeneral';
}


.logged-in .meta .button {
  top: 80px;
}

/**********
  Error Pages
 **********/
 
.error .content article {
  margin: 0 0 100px;
}

.error .global-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/**********
  Main Content
 **********/

.content article,
.content .slider-item {
  transition: box-shadow 0.25s ease;
}

.content .snippet {
  position: relative;
}

.content article {
  padding: 20px 15px;
}

.content .slider-item:nth-last-child(even),
.content .snippet:nth-child(even) {
  background: #eee;
}

.content p {
  text-indent: -15px;
  padding: 0 0 0 15px;
  margin: 10px 0 0;
}

.content footer {
  font: 12px/1.5 'QuicksandLight';
  color: #aaa;
  text-align: right;
}

.editing footer {
  display: none;
}

/**********
  The Narrative Timeline
 **********/

#timeline-placeholder {
  display: none;
}

.storyjs-embed .start {
  margin: 20px 0 0;
}

.storyjs-embed .start + p {
  margin: 0 0 0 20px;
}

.storyjs-embed .date {
  font: 16px/1.5 'QuicksandLight';
  color: #999;
  margin: 0;
  /* padding: 0 5px; */
}

.storyjs-embed .slide-tag {
  background: #dedede;
  padding: 2px 2px 0;
  color: #fff;
  margin: 0 10px;
}

.storyjs-embed h3 + p {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
  text-indent: -20px;
}

.storyjs-embed .cke_show_blocks h3 + p {
  text-indent: 0;
}

.storyjs-embed .flag-content h3 {
  font: 12px/1.5 'QuicksandLight';
}

.storyjs-embed .time-interval div {
  padding-top: 6px;
  position: absolute;
  font: 10px/1.5 'QuicksandLight';
  text-transform: uppercase;
  text-align: left;
  white-space: nowrap;
  color: #666666;
}

.storyjs-embed .time-interval-major div {
  position: absolute;
  font: 16px/1.5 'QuicksandLight';
  top: 15px;
}

.storyjs-embed .nav-container {
  cursor: pointer;
  transition: all 0.25s ease;
  min-height: 50px;
  width: 30px;
  position: absolute;
}

.storyjs-embed .nav-previous,
.storyjs-embed .nav-next {
  width: 0;
  top: 0;
  position: absolute;
}

.storyjs-embed .nav-previous .nav-container {
  /* padding: 0 0 0 20px; */
}

.storyjs-embed .nav-next .nav-container {
  padding: 0 20px 0 0;
  position: absolute;
}

.storyjs-embed .nav-container .icon {
  width: 25px;
  height: 60px;
}

.storyjs-embed .nav-previous .icon:before {
  content: '<';
  font: normal 48px/1 'QuicksandBook';
  color: #999;
  transition: all 0.25s ease;
  position: absolute;
  top: 0;
}

.storyjs-embed .nav-next {
  margin: 0 0 0 85px;
}

.storyjs-embed .nav-next .icon:before {
  content: '>';
  font: 48px/1.5 'QuicksandBook';
  color: #999;
  transition: all 0.25s ease;
  position: absolute;
  right: 10px;
  top: -11px;
}

.storyjs-embed .nav-container:hover .icon:before{
  color: #cacaca;
  top: 20px;
  -webkit-transform: scale(5);
}

.storyjs-embed .nav-next:hover .icon:before {
  right: -10px;
  top: 11px;
}

.storyjs-embed .nav-container .date {
  font: 16px/1 'QuicksandLight';
  position: absolute;
  -webkit-transform: rotate(-90deg);
  top: -75px;
  width: 150px;
  -moz-transform: rotate(-90deg);
  transform:  rotate(-90deg);
  text-align: right;
  color: #ccc;
  left: -70px;
}

.storyjs-embed .nav-container .title {
  font: 16px/1 'QuicksandLight';
  color: #ccc;
  transition: all 0.25s ease;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 130px;
  position: absolute;
  top: 105px;
  left: -60px;
}

.storyjs-embed .nav-previous .date {
  left: -60px;
}

.storyjs-embed .nav-previous .title {
  left: -50px;
}

.storyjs-embed .nav-container:hover .title,
.storyjs-embed .nav-container:hover .date {
  color: #333;
}

.storyjs-embed .toolbar {
  position: absolute;
  left: 0;
  z-index: 10;
  background: #333;
  padding: 0 5px 5px 10px;
}

.storyjs-embed .toolbar .icon {
  width: 24px;
  height: 24px;
  margin: 5px 0;
  cursor: pointer;
}

.storyjs-embed .toolbar .icon:before {
  font: 14px/1.5 'FontAwesome';
  color: #999;
  transition: all 0.25s ease;
}

.storyjs-embed .toolbar .icon:hover:before {
  color: #fff;
}

.storyjs-embed .back-home .icon:before {
  content: '\f049';
}

.storyjs-embed .zoom-in .icon:before {
  content: '\f00e';
}

.storyjs-embed .zoom-out .icon:before {
  content: '\f010';
}

.timeline-tooltip {
  position: absolute;
  z-index: 205;
  padding: 5px;
  font: 14px/1.5 'QuicksandLight';
  margin: 0 0 0 2px;
}

.timeline-tooltip .timeline-tooltip-arrow {
  top: 50%;
  left: -2px;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 7px solid #000000;
}

.timeline-tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
}

.timeline-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
}

.timenav-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #666;
}

.vco-navigation {
  clear: both;
  cursor: move;
  width: 100%;
  height: 200px;
  position: relative
}

.timenav-tag div {
  height: 50px;
  display: table;
}

.timenav-tag:nth-child(odd) {
  background: rgba(0,0,0,0.15);
}

.timenav-tag div h3 {
  padding-left: 65px;
  color: rgba(255,255,255,0.25);
  font: 14px/1 'QuicksandLight';
}

.timenav-interval-background {
  position: absolute;
  top: 150px;
  background: #ffffff;
  width: 100%;
  height: 50px;
}

.timenav .marker {
  position: absolute;
}

.timenav .marker.active {
  z-index: 1;
}

.timenav .marker.active h3 {
  color: #0af;
}

.timenav .flag h3 {
  position: absolute;
  top: 0;
  margin: 0 0 0 5px;
  padding: 5px 15px;
  background: #333;
  color: #aaa;
  border: 1px solid #666;
  transition: all 0.25s ease;
  min-width: 100px;
}

.timenav .flag h3:before {
  content: '';
  border-top: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #666;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: all 0.25s ease;
}

.timenav .flag h3:after {
  content: '';
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #333;
  position: absolute;
  left: 0;
  bottom: -7px;
  transition: all 0.25s ease;
}

.timenav .flag h3:hover {
  z-index: 99999;
  color: #0af;
  cursor: pointer;
  background: #666;
  border: 1px solid #333;
}

.timenav .flag h3:hover:before {
  content: '';
  border-top: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #333;
  position: absolute;
  left: -1px;
  bottom: -8px;
}

.timenav .flag h3:hover:after {
  content: '';
  border-top: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 9px solid #666;
  position: absolute;
  left: 0;
  bottom: -6px;
}

.vco-timeline .vco-navigation .timenav .content .marker .line {
    position: absolute;
    top: 0;
    left: 5px;
    width: 1px;
    height: 150px;
    background-color: #cccccc;
}

.storyjs-embed .timenav-indicator {
    position: absolute;
}

.storyjs-embed .timenav-indicator:before {
  content: '';
  border-top: 10px solid #fff;
  border-right:10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  left: 3px;
  z-index: 99999;
}

.storyjs-embed .timenav-line {
  position: absolute;
  width: 2px;
  height: 150px;
  margin-left: 2px;
  background-color: #000;
}

.storyjs-embed .marker.active .dot {
  border-bottom-color: #0af;
  border-left-color: #0af;
  border-left: 5px solid transparent;
  left: 0;
  z-index: 99999;
}

.storyjs-embed .marker .dot {
  position: absolute;
  top: 150px;
  left: 5px;
  border-top: 0 solid transparent;
  border-right: 5px solid transparent;
  border-left: 1px solid #333;
  border-bottom: 6px solid #333;
}

.storyjs-embed .marker.active .event-line {
  background: #0af;
}

.storyjs-embed .marker .event-line {
  position: absolute;
  background: #333;
}

.storyjs-embed .slider-container {
  position: absolute;
}

.storyjs-embed .slider-item {
  position: absolute;
}


.storyjs-embed .slider-item .content {
  display: table-cell;
  vertical-align: middle;
}

.storyjs-embed .slider-item .content .container {
  width: 90%;
  margin: 0 auto;
  padding: 0 25px;
}

.vco-storyjs {
  height: 100%;
  overflow: hidden;
}

.timenav {
  position: absolute;
  z-index: 1;
}

.timenav .time {
    position: absolute;
    top: 150px;
}

/**********
  While Editing
 **********/

.content .editing {
  box-shadow: inset 0 0 25px rgba(0, 170, 255, 1);
}

.content .editing * {
  -webkit-transition: all 0.2s ease;
}

.content .editing *:not(.control):active {
  box-shadow: 0 0 0 2px rgba(255, 141, 0, 0.15);
}

.slider-item.editing .container h2 {
  display: none;
}

#global-header-controls {
  background: #333;
}

.control {
  padding: 0 5px;
  margin: 0 0.5px;
  font: 12px/1 'QuicksandBook';
}

section .controls {
  position: relative;
  background: #666;
}

.control.content-snippet {
  left: 0;
  margin: 0;
}


/**********
  Media Queries
 **********/


@media all and (min-width: 22rem) {
  .login input {
    width: 45%;
  }
}

@media all and (min-width: 26rem) {
  .login input {
    width: 55%;
  }
}

@media all and (min-width: 32rem) {
  .login input {
    width: 65%;
  }

  .content article {
    padding: 20px 40px;
  }
}

@media all and (min-width: 40rem) {
  .login input {
    width: 125px;
  }

  .login .go-button {
    position: relative;
  }

  .content article {
    padding: 20px 100px;
  }
}
